# Gradle
.gradle/
build/
bin/

# Eclipse
.classpath
.project
.settings/
bin/
build/
.c9/
*.launch
.scale-managed/
.stateless/

# Intellij
.idea/
out/
*.iml
*.ipr
*.iws
.idea_modules/

# Mac
.DS_Store/

# Maven
target/
dist/
build/

# Cloth Config
clothconfig/

# Minecraft
run/
world/
local
